@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align: top;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.header{
    background-color: #e0e0e0;
}
.header .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}
.gbl-nav, .gbl-nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-left li{
    margin-right: 32px;
}
.nav-right li{
    margin-left: 32px;
}
.nav-left li.logo{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.gbl-nav ul li{
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.gbl-nav ul li:hover a{
    color: #fff;
}
.active{
    background-color: lightblue !important;
    color: #fff !important;
}


.main-sec .container{
    max-width:1200px;
    margin:0 auto; 
    padding:36px 16px;           
}
.sec-tit{
    margin-bottom:32px;
    font-weight:700;
    font-size:32px;
    color:#333;
    text-align:center;
}
.table{
    margin-bottom:24px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}
.n-tit,.n-content{
    padding:20px 0;
}
.n-tit{
    border-bottom:1px solid #333;
}
#noticeTit,#noticeContent{
    width:100%;
    padding:16px;
    font-size:20px;
} 
#noticeTit{
    font-weight:700;
    border:none;
}  
#noticeContent{
    height:300px;
    border:none;
}  
.g-btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
button{
    margin-left: 16px;
    float:right;
    border: none;
    padding:8px;
    background-color:darkred;
    font-weight:500;
    font-size:20px;
    color:#fff;
}
button:first-child{
    background-color: darkblue;
}

.footer{
    background-color: #999;
}
address{
    padding: 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    text-align: center;
}